<%= form_for(dealership) do |f| %>
  <% if dealership.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dealership.errors.count, "error") %> prohibited this dealership from being saved:</h2>

      <ul>
      <% dealership.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :location_address %>
    <%= f.text_field :location_address %>
  </div>

  <div class="field">
    <%= f.label :location_city %>
    <%= f.text_field :location_city %>
  </div>

  <div class="field">
    <%= f.label :location_state %>
    <%= f.text_field :location_state %>
  </div>

  <div class="field">
    <%= f.label :location_zip %>
    <%= f.text_field :location_zip %>
  </div>

  <div class="field">
    <%= f.label :owner %>
    <%= f.text_field :owner %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
